:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  background-color: #007fff;
  background-color: var(--btn-color);
  color: #fff;
}

body {
  --hue-1: 257;
  --bg-color: hsl(var(--hue-1), 100%, 97%);

  background-color: var(--bg-color);

  overflow-x: hidden;
}
